<div class="p-4">
  @if (post$ | async; as post) {
  <article class="mb-4 p-4 border rounded-shadow">
    <h2 class="text-xl font-bold">{{ post.title }}</h2>
    <div class="text-gray-600 mb-2">
      <time>{{ post.created_at | date : "medium" }}</time>
    </div>

    <img
      class="w-full h-auto object-cover rounded"
      [src]="imageUrl"
      [alt]="post.title"
    />

    <div
      class="prose max-w-none mt-8 postContent"
      [innerHTML]="sanitizeContent(post.content)"
    ></div>
  </article>
  } @else {
  <div class="text-center text-gray-500">Oops, something went wrong...</div>
  }
</div>
